html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul {
    list-style: none;
}

li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 以上 eric reset */

/* 變數區 */
:root {
    /* ctrl+H +> var(--xxxx)取代*/
    --white: #ffffff;
    --textRed: #F40000;
    --backgroundRed: #C90D0D;
    --bannerWhite: #F8F8F8;
    --organge: #F79900;
    --bannerRed: #FF0000;
}

/* 共用區 */
* {
    box-sizing: border-box;
    /* 不累加border & padding */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    /* 全網字體預設 */
    background-color: var(--white);
    background-image: url(./photos/);
}

.footerCola {
    width: 100%;
    height: 6.875rem;
    line-height: 6.875rem;
    background-color: var(--backgroundRed);
    color: var(--white);
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3.625rem;
    margin-bottom: 2rem;
    background-color: var(--backgroundRed);
    max-width: 82.125rem;
    width: 80%;
    border: 8px solid var(--organge);
    border-radius: 1.5%;
    padding: 1rem 2rem;
    box-shadow: 11px 2px 17px 0px rgba(0, 0, 0, 0.31);
}

img {
    /* display: block; */
    width: 100%;
    /* svg預設100% */
    height: auto;
}

/* header區 */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.87);
    z-index: 1000;
}

.eventbanner {
    max-width: 1440px;
    max-height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 51;
}
.eventbanner video{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.h1 {
    font-size: 3.6875rem;
    font-weight: 700;
    color: var(--white);
    z-index: 80;
    margin-bottom: 3rem;
}

.h2 {
    font-size: 4.0625rem;
    font-weight: 700;
    color: var(--white);
    background-color: #111111;
    border-radius: 99px;
    width: 40rem;
    z-index: 81;
    margin-bottom: 2rem;
}

.h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white);
}

.arrow {
    width: 10rem;
    height: 8rem;
    /* border: 1px solid white; */
    background-image: url(./photos/downArrow.png);
    background-size: contain;
    background-repeat: repeat-y;
    animation: loading 2.5s linear infinite;
    z-index: 6;
    position: absolute;
    top: 82%;
    left: 43%;
}

@keyframes loading {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 182px;
    }
}

.top li {
    max-width: 9.625rem;
    min-width: 8rem;
    max-height: 4.265rem;
    background-color: var(--bannerRed);
    line-height: 4.265rem;
    box-shadow: 11px 2px 17px 0px rgba(0, 0, 0, 0.31);
    border-radius: 10%;
}

.top li:hover {
    background-color: var(--backgroundRed);
    color: gold;
    transition: 0.5s ease-in-out;
}

.navbar {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.navbar:hover {
    color: gold;
}

.background {
    width: 100%;
    min-height: 1024px;
    background-color: var(--backgroundRed);
    position: absolute;
    z-index: 1;
    opacity: 90%;
}

.corner {
    border: 10px solid var(--bannerWhite);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute
}

.corner1 {
    z-index: 2;
    top: -10%;
    left: -10%;
}

.corner2 {
    z-index: 3;
    top: -10%;
    right: -10%;
}

.corner3 {
    z-index: 4;
    bottom: -10%;
    left: -10%;
}

.corner4 {
    z-index: 5;
    bottom: -10%;
    right: -10%;
}

.square {
    width: 100%;
    height: 100%;
    border: 10px solid var(--bannerWhite);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 6;
}

.bannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 21%;
    left: -3%;
    z-index: 10;
    width: auto;
    height: auto;
}


.ribbonText {
    display: flex;
    justify-content: center;
    z-index: 11;
    align-items: flex-start;
}

.ribbon {
    width: 5%;
    /* max-height: 62px; */
}

.goods1 {
    max-width: 91px;
}

.goods2 {
    max-width: 91px;
}

.goods3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods4 {
    display: flex;
    align-items: center;
}

.hr {
    width: 5px;
    height: 110px;
    background-color: var(--white);
    margin: 0 1.5rem;
}

.football {
    position: absolute;
    width: 55%;
    /* max-width: 35rem; */
    /* 原來的最大寬度 */
    height: auto;
    top: 10%;
    right: -1%;
    z-index: 5;
}

/* 內容區 */
.rail {
    position: fixed;
    top: 0;
    width: 8px;
    height: 100vh;
    height: calc(var(--vh, 1vh)* 100);
    background-color: var(--backgroundRed);
    z-index: 50;
}
.rail--right{
    right: 0;
}
.rail--left{
    left: 0;
}
.pageBanner {
    width: 7.125rem;
    height: 3.75rem;
    background-color: var(--organge);
    color: var(--white);
    font-size: 1.25rem;
    box-shadow: 11px 2px 17px 0px rgba(0, 0, 0, 0.31);
    text-shadow: 0.1em 0.1em 0.2em black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBox {
    background-color: var(--white);
    padding: 2rem 1rem;
    line-height: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border-radius: 1%; */
}

.textBox1 {
    background-color: var(--white);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    border-radius: 2%;
}

.textbox2 {
    display: flex;
    flex-direction: column;
}

.prizeList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prize {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.col {
    position: relative;
    clip-path: circle(50%);
    object-fit: cover;
}

.prize img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.prize label{
    color: var(--bannerWhite);
}
.chaanel {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.registerbutton {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.registerButtonInner {
    align-self: center;
}

.registerbutton li {
    margin: 2rem;
}

.register {
    width: 7rem;
    height: 3.625rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-color: none;
    /* background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%); */
    background:
        linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 70%) no-repeat,
        #F40000;
    background-size: cover;
    /* 根據需要調整背景大小 */
    background-position: center;
    /* 根據需要調整背景位置 */
    color: white;
    border: 3px solid gold;
    animation: titleAnim 4s 2s ease-in-out infinite;
}

@keyframes titleAnim {
    0% {
        background-position: -300px top;
    }

    30%,
    100% {
        background-position: 300px top;
    }
}

.register:hover {
    color: gold;
    transition: 0.8s ease-in-out;
}

/* input區 */
/* 參數共用 */
.input {
    height: 80px;
    border: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 1rem;
}

.input1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input_style1 {
    width: 9.6%;
    margin-right: 26px;
    padding-left: 1rem;
}

.input_style2 {
    width: 80.45%;
    padding-left: 2rem;
}

.input_style3 {
    width: 100%;
    padding-left: 2rem;
}

.dash {
    border: 0.5px solid gray;
    width: 9.95%;
    margin-right: 26px;
}

.download {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.download:hover {
    transition: 1s ease-in-out;
    background-color: red;
}

.randomCode {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* 通路區 */
.subChannel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subChannel img {
    max-width: 11rem;
    max-height: 11rem;
}

@media (max-width: 1280px) {
    .eventbanner {
        max-width: 1280px;
        height: auto;
    }

    .top li {
        max-width: 8rem;
        min-width: 6rem;
    }

    .navbar {
        font-size: 1rem;
    }

    .box {
        margin-top: 1.5rem;
    }
}

@media (max-width: 853px) {


    .eventbanner {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .top li {
        display: none;
    }

    .navbar {
        font-size: 1rem;
    }

    .box {
        width: 95%;
        padding: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .bannerText {
        top: 19%;
        left: 1%;
    }

    .goods4 {
        flex-direction: row;
    }

    .goods1 {
        width: 47%;
    }

    .goods2 {
        width: 45%;
    }

    .football {
        display: none;
    }

    .input1 {
        flex-direction: row;
        width: 100%;
    }

    .input1 input,
    .input1 select {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .register {
        width: 100%;
        height: 3rem;
    }

    .background {
        max-width: 100%;
        max-height: 1024px;
    }

    .corner1 {
        z-index: 2;
        top: -10%;
        left: -15%;
    }

    .corner2 {
        z-index: 3;
        top: -10%;
        right: -15%;
    }

    .corner3 {
        z-index: 4;
        bottom: -10%;
        left: -15%;
    }

    .corner4 {
        z-index: 5;
        bottom: -10%;
        right: -15%;
    }

    .arrow {
        left: 38%;
    }
    .rail {
        width: 6px;
    }
}

/* 手機板 */
@media (max-width: 480px) {
    .eventbanner {
        height: auto;
    }

    .background {
        max-width: auto;
        max-height: auto;
    }

    .h1 {
        font-size: 1.8rem;
    }

    .h2 {
        font-size: 2.3rem;
        width: 90%;
    }

    .h3 {
        font-size: 1.2rem;
    }

    .goods4 {
        flex-direction: row;
        align-items: center;
    }

    /* .goods1,
    .goods2 {
        width: 100%;
    } */
    .bannerText {
        top: 21%;
    }

    .corner {
        border: 10px solid var(--bannerWhite);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute
    }

    .corner1 {
        z-index: 2;
        top: -5%;
        left: -10%;
    }

    .corner2 {
        z-index: 3;
        top: -5%;
        right: -10%;
    }

    .corner3 {
        z-index: 4;
        bottom: -5%;
        left: -10%;
    }

    .corner4 {
        z-index: 5;
        bottom: -5%;
        right: -10%;
    }

    .arrow {
        top: 75%;
        left: 30%;
    }
}